@model IEnumerable<TCCESTOQUE.Models.ProdutoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Estoque</h1>

<p>
    <a asp-action="Create">Adicionar produto</a>
</p>
<table class="table">
    <thead class="CabecalhoListagem">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Custo unitario
            </th>
            <th>
                Valor unitario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="Lista">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" class="LinksListagem" asp-route-id="@item.ProdutoId">Edit</a> |
                <a asp-controller="Entrada" class="LinksListagem" asp-action="Create" asp-route-produtoId="@item.ProdutoId">Adicionar</a> |
                <a asp-action="Details" class="LinksListagem" asp-route-id="@item.ProdutoId">Details</a> |
                <a asp-action="Delete"  class="LinksListagem" asp-route-id="@item.ProdutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
