@model IEnumerable<TCCESTOQUE.Models.VendedorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">CADASTRAR</a>
</p>
<table class="table">
    <thead class="CabecalhoListagem">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Lista">
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                <a asp-action="Edit" class="LinksListagem" asp-route-id="@item.VendedorId">Edit</a> |
                <a asp-action="Details" class="LinksListagem" asp-route-id="@item.VendedorId">Details</a> |
                <a asp-action="Delete" class="LinksListagem" asp-route-id="@item.VendedorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
