@model TCCESTOQUE.Models.FornecedorModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-Interno.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FornecedorModel</h4>
    <hr />
    <dl class="row Detalhes">
        <dt class="col-sm-2 DetalhesHeader">
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt class="col-sm-2 DetalhesHeader">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2 DetalhesHeader">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 DetalhesHeader">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2 DetalhesHeader">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditFull" asp-route-id="@Model.FornecedorId">Edit</a> |
    <a asp-action="Index">
        Voltar
    </a>
</div>
