@model TCCESTOQUE.Models.VendaItensModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VendaItensModel</h4>
    <hr />
    <dl class="row Lista">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.VendaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
    @if(Model.VendaId != null) 
    { 
        <form asp-action="Delete">
            <input type="hidden" asp-for="VendaItensId" />
            <input type="hidden" asp-for="VendaId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-controller="Venda" asp-action="Details" asp-route-id="@Model.VendaId">Back to List Venda</a>
        </form>
    }
    @if(Model.CarrinhoId != null) 
    { 
        <form asp-action="DeleteItemCarrinho">
            <input type="hidden" asp-for="VendaItensId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-controller="Carrinho" asp-action="Details" asp-route-id="@Model.VendedorId">Back to List Carrinho</a>
        </form>
    }
</div>
